/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.text-xx-sm {
  font-size: 1.3rem;
}

.text-x-sm {
  font-size: 1.6rem;
}

.text-sm {
  font-size: 2rem;
}

.text-base {
  font-size: 2.4rem;
}

.text-lg {
  font-size: clamp(3.2rem, 3.333vw, 4.8rem);
}

/* Colors */
:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Boilerplate */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  font-size: 62.5%;
  font-weight: 700;
}

body {
  background-color: var(--neutral-light-grayish-cyan);
  min-height: 100vh;
}

/* Custom styling */
#logo {
  position: relative;
  margin: 5rem auto;
  left: 50%;
  transform: translateX(-50%);
}

.label {
  color: var(--neutral-dark-grayish-cyan);
}

.user-input-bill input {
  width: 100%;
  height: 4.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--neutral-very-light-grayish-cyan);
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: center;
  text-align: right;
  padding-right: 2rem;
  font-weight: 700;
  color: var(--neutral-very-dark-cyan);
}

.tip-percentage-container button {
  background: var(--neutral-very-dark-cyan);
  color: var(--white);
  height: 4.8rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.tip-percentage-container button.active {
  background: var(--primary-cyan);
  color: var(--neutral-very-dark-cyan);
}

.tip-percentage-container input {
  background: var(--neutral-very-light-grayish-cyan);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  box-sizing: border-box;
  width: 100%;
  color: var(--neutral-very-dark-cyan);
}
/* Utility classes */
.card {
  background: var(--white);
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
}

.user-input {
  display: grid;
  gap: 3.2rem;
}

.user-input-bill {
  display: grid;
  gap: 0.6rem;
}

.user-input-tip {
  display: grid;
  gap: 1.6rem;
}

.tip-percentage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.6rem;
  column-gap: 1.7rem;
}

.tip-percentage-container button,
.tip-percentage-container input {
  border-radius: 0.5rem;
  border: none;
}

@media screen and (min-width: 768px) {
  /* Custom styling */
  #logo {
    margin-top: 16.3rem;
  }

  /* Utility classes */
  .card {
    border-radius: 2.5rem;
    flex-direction: row;
  }
}
