/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.text-xx-sm {
  font-size: 1.3rem;
}

.text-x-sm {
  font-size: clamp(1.4rem, 1.5rem, 1.6rem);
}

.text-sm {
  font-size: 2rem;
}

.text-base {
  font-size: clamp(2rem, 1.667vw, 2.4rem);
}

.text-lg {
  font-size: clamp(3.2rem, 3.333vw, 4.8rem);
}

/* Colors */
:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Boilerplate */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  font-size: 62.5%;
  font-weight: 700;
}

body {
  background-color: var(--neutral-light-grayish-cyan);
  min-height: 100vh;
}

/* Custom styling */
#logo {
  position: relative;
  margin: 5rem auto;
  left: 50%;
  transform: translateX(-50%);
}

.label {
  color: var(--neutral-dark-grayish-cyan);
}

.user-input-bill input {
  background-image: url("./images/icon-dollar.svg");
}

.tip-percentage-container button {
  background: var(--neutral-very-dark-cyan);
  color: var(--white);
  height: 4.8rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.tip-percentage-container input {
  background: var(--neutral-very-light-grayish-cyan);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  box-sizing: border-box;
  width: 100%;
  color: var(--neutral-very-dark-cyan);
}

.user-input-people > section {
  display: flex;
  justify-content: space-between;
}

.user-input-people input {
  background-image: url("./images/icon-person.svg");
  text-align: center;
}

.summary-data-container {
  align-self: center;
}

.summary-data-container p:nth-child(1) {
  color: var(--white);
}

.summary-data-container p:nth-child(2) {
  color: var(--neutral-grayish-cyan);
}

.summary-data > p {
  color: var(--primary-cyan);
}

#invalid-msg {
  color: hsl(13, 70%, 61%);
}
/* Utility classes */
.card {
  background: var(--white);
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding: 3.2rem;
  display: grid;
}

.user-input {
  display: grid;
  gap: 3.2rem;
}

.user-input input {
  width: 100%;
  height: 4.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--neutral-very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: center;
  text-align: right;
  padding-right: 2rem;
  font-weight: 700;
  color: var(--neutral-very-dark-cyan);
}

.user-input-bill {
  display: grid;
  gap: 0.6rem;
}

.user-input-tip {
  display: grid;
  gap: 1.6rem;
}

.tip-percentage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.6rem;
  column-gap: 1.7rem;
}

button,
.tip-percentage-container input {
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  padding: 0;
}

.summary {
  margin-top: 3.2rem;
  padding: 3.7rem 2.2rem 2.4rem;
  background: var(--neutral-very-dark-cyan);
  border-radius: 1.5rem;
  display: grid;
  gap: 2rem;
}

.summary .summary-data {
  display: flex;
  justify-content: space-between;
}

.user-btns {
  margin-top: 1.2rem;
  display: grid;
  gap: 2rem;
}

.user-btns button {
  height: 4.8rem;
  font-weight: 700;
  display: block;
  width: 100%;
}

.user-btns button:nth-child(1) {
  background: var(--primary-cyan);
  color: var(--neutral-very-dark-cyan);
}

.user-btns button:nth-child(2) {
  background: none;
  border: 2px solid var(--primary-cyan);
  color: var(--primary-cyan);
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
}

/* Active and Hover States */

button:hover,
input:hover {
  cursor: pointer;
}

input.active {
  border: 2px solid var(--primary-cyan);
}

input.inactive {
  border: 2px solid hsl(13, 70%, 61%);
}

#calculate-btn:hover {
  background: hsl(173, 61%, 77%);
}

#reset-btn:hover {
  border: 2px solid hsl(173, 61%, 77%);
  color: hsl(173, 61%, 77%);
  text-decoration: underline;
}

.tip-percentage-container button.active {
  background: var(--primary-cyan);
  color: var(--neutral-very-dark-cyan);
  transform: translateY(-0.5rem);
  transition: all 0.3s ease;
}

.tip-percentage-container button:not(.active) {
  transform: translateY(0);
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  /* Custom styling */
  #logo {
    margin-top: 16.3rem;
    margin-bottom: 8.8rem;
  }

  .summary {
    margin: 0;
    padding: 4rem;
  }

  .tip-percentage-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .user-btns {
    margin-top: 12.2rem;
  }
  /* Utility classes */
  .card {
    border-radius: 2.5rem;
    width: 63.889%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    filter: drop-shadow(0 3.2rem 4.3rem rgba(79, 166, 175, 20.07%));
  }
}
